.root {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}

.root>.app {
  flex: 1 1 40%;
}

.addIcon {
  border: 1px solid #dadada;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  width: 25%;
  cursor: pointer;
  margin: 20px;
}